.place-image {
  height: 150px;
  width: 100%;
}
.place-card {
  height: 200px;
}
.npc-card {
  height: 200px;
}
.quest-card {
  height: 200px;
}
.collection-image {
  height: 10em;
  width: 10em;
  display: block;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
}
.collection-item-name {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
