@import 'stylesheets/foundation.css';
@import 'stylesheets/registration.css';
@import 'stylesheets/splash.css';
@import 'stylesheets/layout.css';
@import 'stylesheets/components/index.css';
@import 'stylesheets/page-components/index.css';

label {
  text-align: left;
}

.max-height-200 {
  max-height: 200px;
}

.vert-text-top {
  vertical-align: text-top;
}

.fieldset {
  position: relative;
}

.fieldset-label {
  position: absolute;
  top: -1em;
  background-color: white;
  padding: 2px 5px;
  font-weight: bold;
}

.font-static {
  font-family: inherit;
  font-size: 1rem;
}

.rw-input {
  padding: 0px 10px !important;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; /* for links */
}
.navbar .container {
  width: 100%;
}

.app-container {
  width: 95%;
  margin-left: 10px;
  margin-right: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clickable {
  cursor: pointer;
}
